/* Set a background image by replacing the URL below */
body {
    background: url('images/rivers.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  header {
    padding: 125px 0 0px;
  }

  nav li{
    font-size: 1.5em !important;
   }